.navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

.leftContainer img {
    width: 300px;
}
nav {
    display:flex;
    align-items: center;
    padding: 0px;
}
.logo {
    display: flex;
    align-items: left;
    padding: 10px;
    
}
nav button {
    margin: 1px 5px;
    background-color: black;
    border: none;
    color: white;
    padding: 5px;
}
nav button:hover {
    background-color: white;
    color:red;
    border-radius: 10px;
}
.logout-btn {
    background-color: black;
    font-family: 'Gill Sans';
    border-radius: 10px;
    color: white;
}
.logout-btn-hover {
    background-color: black;
    color: red;
    cursor: pointer;
}
.cart-icon-css {
    color: white;
}
.cart-btn {
    display: flex;
    align-items: center;
    padding: 10px;
}
.cart-btn img {
    width: 30px;
    height: fit-content;
}
.profile-icon {
    width: 30px;
    padding-right: 10px;
}
.product-types {
    background-color: black;
    display: flex;
    justify-content: center;
}
.product-types button {
    /* background-color: white;
    padding: 0px 5px;
    margin: 8px 15px;
    border: 2px solid black;
    color: black;
    border-radius: 5px;
    font-size: 13px; */
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    margin: 8px 15px;
    padding: 5px 5px;
    width: fit-content;
    height: fit-content;
}
.product-types button:hover {
    background-color: white;
    color: black;
    font-weight: 600;
}